.countryWrapper
{
    display: grid;
    grid-template-columns: repeat(6,1fr) !important;
    grid-gap: 10px;
    column-gap: 10px;
}
.countryCard
{
    background: #99B1F0;
    padding: 20px;
    display: block;
    text-align: center;
}
.test-class
{
    font-size: 2rem;
}
.searchInput
{
    outline: none !important;
    padding: 10px 15px !important;
    font-size: 18px !important;
    /*border: 1px solid #61dafb;*/
    color: #99B1F0 !important;
    font-weight: 500 !important;
}
.searchIcon
{
    margin-left: 10px;
}
.searchIcon:hover
{
    transform: scale(1.5);
    opacity: 2;
}
@media screen and (max-width:1600px) {
    .countryWrapper
    {
        grid-template-columns: repeat(4,1fr) !important;
    }
}@media screen and (max-width:1000px) {
    .countryWrapper
    {
        grid-template-columns: repeat(3,1fr) !important;
    }
}
@media screen and (max-width:700px) {
    .countryWrapper
    {
        grid-template-columns: repeat(2,1fr) !important;
    }
}