
.detail-button:hover
{
  cursor: pointer;
  color: #2f54eb;
  text-decoration: underline;
}
.detail-button
{
font-size: 14px;
  color: white;
}
.grid-container {
  grid-template-columns:  repeat( auto-fit, minmax(300px, 1fr) );
  display: grid;
  column-gap: 5px;
  width: 90%;
  margin: 20px auto;
  .movie-card
  {

  }
  div {
    margin: 0 5px 5px 0;
    display: inline-block;
    width: 100%;
    padding: 5px;
    transition: all .25s ease-in-out;

     img {
      width: 100%;
      transition: all .25s ease-in-out;
    }

  }
}
.titleWrapper
{
  margin:5% 5%;
}
.movie-img
{
  height: 21.875em;
  width: 100%;
}



.movie-title
{
  font-size: 16px;
  font-family: 'NutinoBold',sans-serif;
}
.movie-info-wrapper
{
  height: 435px;
}
.movie-infos
{
  background: #282c34;
  color: white;
  padding: 20px;
}
.movie-description
{
  color: white !important;
}
.scroll-container {
  width: 300px !important;
  overflow-x: scroll;
  white-space: nowrap;
}
::-webkit-scrollbar {
  display: none;
}
.marginTop30
{
  margin-top:30px;
}
@media screen and (max-width: 700px) {

  .titleWrapper
  {
    line-height: 2;
  }
  .grid-container
  {
    columns: 1 10px;

  }
  .movieSearchInput
  {
    width:100% !important;
  }
}



