.movie-img
{
    height: 350px;
    width: 100%;
}
.gridWrapper
{
    grid-template-columns:  repeat( auto-fit, minmax(300px, 1fr) );
    /*grid-template-columns:  repeat(5,1fr);*/
    /*grid-template-columns: 25% 25% 25% 25% ;*/
    display: grid;
    gap:10px;
    margin: 0 100px;
}
.movie-title
{
    font-size: 16px;
    font-weight: bold;
}
.movie-card
{
    display: grid !important;
}
.movie-infos
{
    background: #282c34;
    color: white;
    padding: 10px !important;
}
.movie-description
{
    color: white !important;
}
.movies-container
{
    margin: 30px;
}
@media screen and (max-width: 700px) {
    .movie-card
    {
        margin: auto;
    }

    .gridWrapper
    {
        margin: auto;
    }
}