.coronaWrapper
{
    margin:100px
}
.corona-card
{
    padding: 2em;
    margin:1em;
    width: 100%;
    max-width: 300px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.corona-value
{
    white-space: nowrap;
    width: 50px;
}
.cardWrapper
{
    grid-template-columns: repeat( auto-fit, minmax(400px, 1fr) );;
    display: grid;
    gap: 1.4em;
}