.todoListWrapper
{
    grid-template-columns: repeat(6,1fr);
    gap:20px;
    display: grid;
    margin:5% 5% 20% 5%;
}
.marginBottom100
{
    margin-bottom: 100px;
}
.subtask
{
    font-weight: bold;
    letter-spacing: 0.5px;
}
.iconsWrapper
{
    vertical-align: middle;
    margin: 30px 10px;
}
.todo-card
{
    padding: 10px;
    display: grid;
    max-height: 400px;
    overflow: scroll;
    position: relative !important;
    border-radius: 20px !important;
}
.marginTop10
{
    margin-top:10px;
}
.main-header
{
    font-size: 20px;
    font-weight: bold;
    line-height: 21px;
    text-transform: uppercase;
}
.todo-input
{
    height: 50px;
    width: 100%;
    margin:20px 0;
    padding: 10px;
    border: 1px solid #61dafb;
    outline: none;
    color: #1d39c4;
    font-size: 20px;
}
.add-task-button
{
    outline: none;
    background: #1d39c4;
    color: #fefefe;
    border: none;
    width: 100%;
    height: 56px;
    padding: 20px;
    cursor: pointer;

}
.add-task-button:hover
{
    opacity: 0.5;
}
.add-icon
{
    font-size: 30px !important;
    padding:10px;
}
.menu-icon
{

}
.dropdown-wrap
{
    position: absolute;
    top: 10px;
    right:10px;
}
.completed-card
{
    background: #71B280 ;
    color: white !important;
    box-shadow: 1px 10px lightgrey;
}
.add-icon-wrap
{
    margin: auto;
    padding: 10px;
    color: #1d39c4;

}
@media screen and (max-width: 700px){
    .todoListWrapper
    {
        grid-template-columns: repeat(1,1fr);
    }
}