@font-face
{
  font-family: 'NutinoLight';
  src:url("./fonts/NunitoSans-Light.ttf");
}
@font-face
{
  font-family: 'NutinoMedium';
  src:url("./fonts/NunitoSans-SemiBold.ttf");
}
@font-face
{
  font-family: 'NutinoBold';
  src:url("./fonts/NunitoSans-Bold.ttf");
}

body {
  margin: 0;
  font-family: 'NutinoLight', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.commonWrapper
{
  margin: 100px;
}

